body{
  font-family: 'arial', sans-serif;
  background-color:white;
  margin: 0px;
  padding : 20px;
  font-size:22px;
}

h1{
  text-align : center;
}

form{
  display: flex;
  justify-content:center;
  margin-bottom: 20px;
}

input{
  padding:10px;
  width:350px;
  border:1px, solid;
  border-radius:2px

}
button{
  padding:10px, 15px;
  margin-left: 10px;
  border:none;
  background-color:green;
  color:white;
  cursor:pointer;
  font-size:22px;
}

ul{
  padding:2px;
}

.todo-item{
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding:10px;
  background:#bbb;
}

.delete-btn{
  background-color:white;
  color:black;
  padding:5px, 10px;
  cursor:pointer;

}
app{
  background-color:white;
  color:balck;
  font-size:22px;
}